//?Smartphone
	$headingText: 2.4rem;
	$headingBottom: 1.8rem;
	$primaryText: 1.6rem;
	$lastText: 1.2rem;

//?Tablet
	$headingTextTablet: 3.2rem;
	$headingBottomTablet: 2rem;
	$primaryTextTablet: 1.6rem; //!Ewentualnie można dać na 1.8rem
	$lastTextTablet: 1.4rem;


//?Desktop
	$headingTextDesktop: 3.8rem; //!Na większych rozdzielczościach (1200px) można ustawić na: od 4-6rem
	$headingBottomDesktop: 2.4rem;
	$primaryTextDesktop: 1.8rem;
	$lastTextDesktop: 1.6rem;

